.blog-posts ul {
  list-style-type: disc !important;

  font-size: 16px;
	font-weight: 400;
	color: #7a7a7a;
	line-height: 20px;
}

.blog-posts li {
  padding-left: 20px;
  list-style-position: inside;
	line-height: 20px;
  margin: 0 0 10px 0;

	font-size: 16px;
	font-weight: 400;
	color: #7a7a7a;
	line-height: 30px;
}

.blog-posts .end_letter {
  font-size: 16px;
	font-weight: 400;
	color: #7a7a7a;
	line-height: 30px;
}

.blog-posts .down-content ul {
	padding: 25px 0px;
	margin: 25px 0px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

/* Портфолио из 2-х вертикальных фото */
.blog-thumb .container .row .col-lg-6 .vertical-img img {
  margin: 0 -10% 0 15%;
  width: 70%;
}

/* Портфолио из 2-х вертикальных фото */
.blog-thumb .container .row .col-lg-6 .horizontal-img img {
  margin: 0 0 0 10%;
  width: 80%;
}

/* Портфолио из 3-х вертикальных фото */
.blog-thumb .container .row .col-lg-4 .vertical-img img {
  margin: 0 0 0 10%;
  width: 80%;
}

/* Портфолио из 3-х горизонтальных фото */
.blog-thumb .container .row .col-lg-4 .horizontal-img img {
  margin: 0 0 0 0;
  width: 100%;
}

/* Одиночное вертикальное фото */
.blog-thumb > .vertical-img img {
  width: 40%;
  margin-left: 30%;
}

/* Одиночное горизонтальное фото */
.blog-thumb > .horizontal-img img {
  width: 50%;
  margin-left: 25%;
}

/* Горизонтальное фото в портфолио из вертикальных фото */
.blog-thumb .container .row .col-lg-4 .vertical-horizontal-img img {
  margin: 25% 0 0 10%;
  width: 80%;
}

/* Горизонтальное фото в портфолио из вертикальных фото */
.blog-thumb .container .row .col-lg-6 .vertical-horizontal-img img {
  margin: 15% 0 0 10%;
  width: 80%;
}

/* Адаптацтия под мобильные устройства */
@media (max-width: 768px) {
  /* Портфолио из 2-х вертикальных фото */
  .blog-thumb .container .row .col-lg-6 .vertical-img img {
    margin: 0 0 5% 0;
    width: 100%;
  }

  /* Портфолио из 2-х горизонтальных фото */
  .blog-thumb .container .row .col-lg-6 .horizontal-img img {
    margin: 0 0 5% 0;
    width: 100%;
  }

  /* Портфолио из 3-х вертикальных фото */
  .blog-thumb .container .row .col-lg-4 .vertical-img img {
    margin: 0 0 5% 0;
    width: 100%;
  }

  /* Портфолио из 3-х горизонтальных фото */
  .blog-thumb .container .row .col-lg-4 .horizontal-img img {
    margin: 0 0 5% 0;
  }

  /* Одиночное горизонтальное фото */
  .blog-thumb .vertical-img img {
    width: 70%;
    margin-left: 15%;
  }

  /* Одиночное горизонтальное фото */
  .blog-thumb > .horizontal-img img {
    width: 100%;
    margin: 0 0 0 0;
  }

  /* Горизонтальное фото в портфолио из 3-x вертикальных фото */
  .blog-thumb .container .row .col-lg-4 .vertical-horizontal-img img {
    margin: 0 0 5% 0;
    width: 100%
  }

  /* Горизонтальное фото в портфолио из 2-x вертикальных фото */
  .blog-thumb .container .row .col-lg-6 .vertical-horizontal-img img {
    margin: 0 0 5% 0;
    width: 100%;
  }
}
