.blog-posts ul {
  list-style-type: disc !important;

  font-size: 16px;
	font-weight: 400;
	color: #7a7a7a;
	line-height: 20px;
}

.blog-posts li {
  padding-left: 20px;
  list-style-position: inside;
	line-height: 20px;
  margin: 0 0 10px 0;

	font-size: 16px;
	font-weight: 400;
	color: #7a7a7a;
	line-height: 30px;
}

.blog-posts .end_letter {
  font-size: 16px;
	font-weight: 400;
	color: #7a7a7a;
	line-height: 30px;
}

.blog-posts .down-content ul {
	padding: 25px 0px;
	margin: 25px 0px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

/* Отступ в ситуации для 2-х фото */
.blog-thumb .container .row .col-lg-6 .vertical-img img {
  margin: 0 -10% 0 10%;
}

.blog-thumb .vertical-img img {
  width: 40%;
  margin-left: 30%;
}

/* Адаптацтия под мобильные устройства */
@media (max-width: 768px) {
  .blog-thumb .container .row .col-lg-6 .vertical-img img {
    margin: 0 0 5% 10%;
  }

  .blog-thumb .container .row .col-lg-4 .vertical-img img {
    margin: 0 0 5% 0;
  }

  .blog-thumb .vertical-img img {
    width: 70%;
    margin-left: 15%;
  }
}
